# Project-specific
dist
coverage
*storybook.log
storybook-static

# NodeJS directories and files
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellanea
.DS_Store
thumbs.db
